<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<%= link_to "Mon Profil", edit_user_registration_path, :class =>"link"%>
<div><%= current_user.first_name %></div>
<div><%= current_user.last_name %></div>
<div><%= current_user.email %></div>
<div><%= current_user.description %></div>
<% @event.each do |event|%>
  <div><%= event.title%></div>
  <div><%= link_to "Voir", event_path(event.id), :class =>"link"%>
  <%end%>
