  <% if @event_edit.avatar.attached? == false %>
        <h2>Pour valider votre évènement, ajoutez une photo </h2>
            <%= form_tag event_avatars_path(@event_edit.id), multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "Ajouter une photo" %>
  <% end %>
<% else %>
<h1> Editer un évènement </h1>


<%= form_for @event_edit do |f| %>
<form>
  <div class="row">
    <div class="col">

        <%= f.text_field :title, class: "form-control", placeholder: 'Un titre sympa', autocomplete: 'off' %>
        <br /> <br />
</div>
<div class="col">
        <%= f.text_field :description, class: "form-control", placeholder: 'Votre potin', autocomplete: 'off'%>
    </div>
    <div class="col">
        <%= f.text_field :start_date, class: "form-control", placeholder: 'Votre potin', autocomplete: 'off'%>
    </div>
    <div class="col">
        <%= f.text_field :price, class: "form-control", placeholder: 'Votre potin', autocomplete: 'off'%>
    </div>
    <div class="col">
        <%= f.text_field :location, class: "form-control", placeholder: 'Votre potin', autocomplete: 'off'%>
    </div>
    <div class="col">
        <%= f.text_field :duration, class: "form-control", placeholder: 'Votre potin', autocomplete: 'off'%>
    </div>
  </div>
    <br /> 

    <%= submit_tag "Modifier", class: "btn btn-primary" %>  <%= link_to "Revenir à l'accueil", root_path, :class => 'btn btn-info'%>
</div>
      <% end %>

        </form>
 <h3> Editer ma photo </h3>
        <%= form_tag event_avatars_path(@event_edit.id), multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "Ajouter une photo" %>
  <% end %>

<% end %>
