<!DOCTYPE html>
<html>
<head>
<title>Eventbrite</title>
</head>

<body>
<br>
<h1 class="text-center"> Bienvenue sur la page de création d'un évènement</h1>
<br>
<br>
<br>




<div class="d-flex justify-content-center align-items-center container ">

    <div class="row ">
<%= form_tag url_for(action: 'create'), method: "post" do %>

        <form action="">
            <div class="form-group">
                <%= label_tag 'Titre' %> <br />
          <%= text_field_tag 'title', @new_event.title, class: "form-control", placeholder: 'Titre', autocomplete: 'off' %>
               
            </div>
            <div class="form-group">
                <%= label_tag 'Description' %> <br />
          <%= text_field_tag 'description', @new_event.description, class: "form-control", placeholder: '20 a 1000 caractéres', autocomplete: 'off'%>

            </div>
            <div class="form-group">
            <input type="datetime-local" name='start_date' id='start_date'class="form-control">
               <%# <%= label_tag 'Date de depart' %>
          <%# <%= text_field_tag 'start_date', @new_event.start_date, class: "form-control", placeholder: 'Date de debut', autocomplete: 'off'%>

            </div>
            <div class="form-group">
                <%= label_tag 'Durée' %> <br />
          <%= text_field_tag 'duration', @new_event.duration, class: "form-control", placeholder: 'tranches de 5 min', autocomplete: 'off'%>

            </div>
            <div class="form-group">
                <%= label_tag 'Prix entrée' %> <br />
          <%= text_field_tag 'price', @new_event.price, class: "form-control", placeholder: 'Prix €', autocomplete: 'off'%> 

            </div>
            <div class="form-group">
                <%= label_tag 'Lieux' %> <br />
          <%= text_field_tag 'location', @new_event.location, class: "form-control", placeholder: 'Ville', autocomplete: 'off'%>

            </div>
             <%= submit_tag "Créer l'évènement", class: "btn btn-info" %>  <%= link_to "Revenir à l'accueil", root_path, :class => 'btn btn-secondary'%>
        </form>
<% end%>
    </div>

</div>

</body>

</html>
