                      
<!doctype html>
<html lang="fr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title><%= @event.title %></title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
  </head>

  <body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <div class='d-flex justify-content-center'>
    <div class='text-center'>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
        
  <% if @event.avatar.attached? %>
  <%= image_tag @event.avatar, alt: 'avatar' %>
<% else %>
<h5> Pour valider votre évènement, il faut une photo </h5>
                <% end%>



          <h4> Prix Entrée : <%= @event.price %>€ </h4>
          <h1 class="card-title"><%= @event.title %></h1>
          <h5> à <%= @event.location%> </h5>
          <h4 class="card-text"><%= "Le #{@event.start_date.strftime("%d/%m/%Y")} à #{@event.start_date.strftime("%I:%M%p")}" %></h4>
          <p><%= "Fin : #{@end_date.strftime("%I:%M%p")}" %></p>
          <h5 class="card-text"><%= @event.description%></h5>
          <br>
          <p><%= "Contact: #{@event.organizer.email}"%></p>

          <%= link_to "Editer l'évènement", edit_event_path(@event.id), :class => "btn btn-outline-primary"%>
        </div>

        <%# <%= link_to "Payer", new_event_charge_path(@event.id), :class =>"btn btn-outline-dark" %>

      </div>
      </div>
    </div>

  </body>
</html>