<h1 class="text-center"> Valider un évènement </h1>
<br>
<div class="d-flex justify-content-center align-items-center container">
  <%= form_for @event_edit do |f| %>
    <form>
      <div class="col">
        <%= label_tag 'Titre' %> <br />
        <%= f.text_field :title, class: "form-control", placeholder: 'Un titre sympa', autocomplete: 'off' %>
      </div>
      <div class="col">
        <%= label_tag 'Description' %> <br />
        <%= f.text_field :description, class: "form-control", placeholder: 'Votre potin', autocomplete: 'off'%>
      </div>
      <div class="col">
        <%= label_tag 'Date de début' %> <br />
        <%= f.text_field :start_date, class: "form-control", placeholder: 'Votre potin', autocomplete: 'off'%>
      </div>
      <div class="col">
        <%= label_tag 'Prix' %> <br />
        <%= f.text_field :price, class: "form-control", placeholder: 'Votre potin', autocomplete: 'off'%>
      </div>
      <div class="col">
        <%= label_tag 'Lieu' %> <br />
        <%= f.text_field :location, class: "form-control", placeholder: 'Votre potin', autocomplete: 'off'%>
      </div>
      <div class="col">
        <%= label_tag 'Durée' %> <br />
        <%= f.text_field :duration, class: "form-control", placeholder: 'Votre potin', autocomplete: 'off'%>
      </div>
      <div class="field">
        <div class="text-center">
          <%= f.label "Validation?" %>
          <%= f.check_box :validated?, class: "form-control", placeholder: "Tick if you are a Tutor" %>
        </div>
      </div>
      <br />
      <%= submit_tag "Modifier", class: "btn btn-primary" %>  <%= link_to "Revenir à l'accueil", root_path, :class => 'btn btn-info'%>
      <%= link_to "Supprimer", @event_edit, method: :delete, data: {confirm: "T'es sur ?"}, :class => 'btn btn-danger'%>
      <%= link_to "Valider", admin_event_path, method: :update, :class => 'btn btn-danger'%>
    </div>
  <% end %>
  <br />
  <br />
  <br />
  <br />
</form>
<h3 class=text-center> Editer la photo </h3>
<br>
<div class="d-flex justify-content-center align-items-center container">
  <%= form_tag event_avatars_path(@event_edit.id), multipart: true do %>
    <%= file_field_tag :avatar %>
    <%= submit_tag "Ajouter une photo" %>
  <% end %>
</div>
<br />
<br />
